:root {
  --main-font: Roboto, sans-serif;
  --second-font: Raleway, sans-serif;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --main-color: #2196f3;
  --cards-color: #eeeeee;
  --white: #ffffff;
  --black: #000000;
  --icon-color-light: #afb1b8;
  --icon-color-dark: #ffffff1a;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-submit: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white);
  max-width: 696px;
}

h2 {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
  padding-bottom: 50px;
}

h3 {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
}

.container {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.contacts {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--second-text-color);
  transition: 250ms;
  transition-property: color;
  transition-timing-function: var(--transition-timing);
}

.icon-social {
  transition: 250ms;
  transition-property: fill;
  transition-timing-function: var(--transition-timing);
}

.input {
  outline: none;
  transition: 250ms;
  transition-property: all;
  transition-timing-function: var(--transition-timing);
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}

.logo {
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--second-font);
}
.logo--black {
  color: var(--black);
}
.logo--white {
  color: var(--white);
}

.button {
  cursor: pointer;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: 250ms;
}

.submit-button {
  vertical-align: middle;
  width: 200px;
  height: 50px;
  background: var(--main-color);
  box-shadow: var(--box-shadow-submit);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white);
  transition: 250ms;
  transition-property: color background-color;
  transition-timing-function: var(--transition-timing);
}
.submit-button:hover, .submit-button:focus {
  background-color: var(--white);
  color: var(--black);
  transition: 250ms;
  transition-property: color background-color;
  transition-timing-function: var(--transition-timing);
}
.submit-button:hover svg, .submit-button:focus svg {
  fill: var(--black);
  transition: 250ms;
  transition-property: fill;
  transition-timing-function: var(--transition-timing);
}

.header {
  max-width: 1600px;
  margin: auto;
  background: var(--white);
  border: 1px solid #ececec;
  border-width: 0px 0px 1px 0px;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  gap: 93px;
}
.header__navigation {
  display: flex;
  list-style: none;
  gap: 46px;
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  margin-right: 0px;
  margin-left: auto;
}
.header__contacts-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__contacts-flex:focus .header__contacts-icons, .header__contacts-flex:hover .header__contacts-icons {
  fill: var(--main-color);
  transition: 250ms;
  transition-property: fill;
  transition-timing-function: var(--transition-timing);
}
.header__contacts-flex:focus .contacts, .header__contacts-flex:hover .contacts {
  color: var(--main-color);
  transition: 250ms;
  transition-property: fill;
  transition-timing-function: var(--transition-timing);
}
.header__contacts-icons {
  margin-left: 0px;
  margin-right: 10px;
  fill: var(--second-text-color);
}

.link {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--main-font);
  transition: 250ms;
  transition-property: color;
  transition-timing-function: var(--transition-timing);
}
.link:hover, .link:focus {
  color: var(--main-color);
  transition: 250ms;
  transition-property: color;
  transition-timing-function: var(--transition-timing);
}
.link--current {
  color: var(--main-color);
  position: relative;
}
.link--current::after {
  position: absolute;
  display: block;
  pointer-events: none;
  content: "";
  width: 100%;
  height: 4px;
  top: 45px;
  background: var(--main-color);
  border-radius: 2px;
}

.subscribe {
  gap: 5px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
  background: var(--background-color-dark);
  max-width: 1600px;
  height: 225px;
}
.footer__container {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.footer__address {
  padding-top: 20px;
  line-height: 24px;
}
.footer__address--place {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--white);
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 20px;
}
.footer__socials-title {
  text-align: inherit;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
.footer__icon-social {
  fill: var(--icon-color-dark);
  transition: 250ms;
  transition-property: fill;
  transition-timing-function: var(--transition-timing);
}
.footer__icon-social:hover, .footer__icon-social:focus {
  cursor: pointer;
  fill: var(--main-color);
  transition: 250ms;
  transition-property: fill;
  transition-timing-function: var(--transition-timing);
}
.footer__subscribe-label {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
.footer__subscribe-form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.footer__input {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
  padding: 15px;
  width: 360px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.footer__input:focus {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  transition: 250ms;
  transition-property: all;
  transition-timing-function: var(--transition-timing);
}
.footer__button-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  padding: 0px;
  margin: 0px;
}

.banner {
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.banner__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 94px;
}

.clients {
  padding-top: 94px;
}
.clients__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  margin: auto;
  padding-bottom: 94px;
}
.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: var(--icon-color-light);
  border: 1px solid var(--icon-color-light);
  border-radius: 4px;
  transition: 250ms;
  transition-property: fill;
  transition-timing-function: var(--transition-timing);
}
.clients__item:hover, .clients__item:focus {
  cursor: pointer;
  fill: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 250ms;
  transition-property: fill;
  transition-timing-function: var(--transition-timing);
}

.features {
  display: flex;
  list-style: none;
  max-width: 1170px;
  gap: 30px;
}
.features__title {
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 10px;
}
.features__text {
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--second-text-color);
  max-width: 270px;
}
.features__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  border: none;
  border-radius: 4px;
  background-color: var(--background-color-light);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  visibility: 1;
  transition: 500ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
.modal__window {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: var(--white);
  box-shadow: var(--box-shadow-card);
}
.modal__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__button-close {
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
  right: 8px;
  top: 8px;
  background: none;
  border: none;
}
.modal__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal__input-icon {
  position: absolute;
  fill: var(--main-text-color);
  top: 50%;
  left: 15px;
}
.modal__input {
  width: 448px;
  height: 40px;
  padding: 0px 0px 0px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__input:focus {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  transition: 250ms;
  transition-property: all;
  transition-timing-function: var(--transition-timing);
}
.modal__input-label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 10px;
  font-family: var(--main-font);
  color: var(--second-text-color);
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-decoration: none;
}
.modal__input-label:focus-within svg {
  fill: var(--main-color);
  transition: 250ms;
  transition-property: all;
  transition-timing-function: var(--transition-timing);
}
.modal__comment-area {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-family: var(--main-font);
  color: rgba(117, 117, 117, 0.5);
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-decoration: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms;
  transition-property: all;
  transition-timing-function: var(--transition-timing);
}
.modal__comment-area:focus {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  transition: 250ms;
  transition-property: all;
  transition-timing-function: var(--transition-timing);
}
.modal__title {
  margin: 0px 0px 12px 0px;
  font-family: var(--main-font);
  color: var(--main-text-color);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.modal__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--second-text-color);
}

.false-checkmark {
  position: absolute;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.false-checkmark:checked + .true-checkmark {
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  background-color: var(--main-color);
  border-color: transparent;
  transition: 250ms;
  transition-property: all;
  transition-timing-function: var(--transition-timing);
}

.true-checkmark {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  height: 15px;
  width: 16px;
  border: 2px solid var(--black);
  border-radius: 2px;
  transition: 250ms;
  transition-property: all;
  transition-timing-function: var(--transition-timing);
}

.reglink {
  margin: 0px;
  padding: 0px;
  color: var(--main-color);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 500ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.portfolio {
  max-width: 1600px;
  padding: 94px 0px 94px 0px;
  margin: auto;
}
.portfolio__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 8px;
  padding-bottom: 50px;
}
.portfolio__button {
  padding: 0px 22px;
  height: 38px;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--background-color-light);
  transition: 250ms;
  transition-property: color background-color;
  transition-timing-function: var(--transition-timing);
}
.portfolio__button:hover, .portfolio__button:focus {
  box-shadow: var(--box-shadow-filter);
  color: var(--white);
  background-color: var(--main-color);
  transition: 250ms;
  transition-property: color background-color;
  transition-timing-function: var(--transition-timing);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  height: 100%;
  column-gap: 30px;
  gap: 30px;
}
.cards__item {
  position: relative;
  max-width: fit-content;
  flex-basis: 33.3333333333%;
  border: 1px solid var(--cards-color);
  border-width: 0px 1px 1px 1px;
}
.cards__item:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow-portfolio);
  transition: 250ms;
  transition-property: box-shadow;
  transition-timing-function: var(--transition-timing);
}
.cards__item:hover .cards__image .cards__overlay {
  cursor: pointer;
  visibility: visible;
  transform: translatey(0);
  transition: 200ms;
  transition-property: transform;
  transition-timing-function: ease;
}
.cards__image {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 400px;
}
.cards__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  visibility: hidden;
  z-index: 0;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition-property: transform;
  transition: 200ms ease;
}
.cards__overlay-text {
  margin: 0px 24px;
  color: var(--white);
  font-family: var(--main-font);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.cards__figcaption {
  position: absolute;
  height: 110px;
  width: 370px;
  bottom: 0;
  z-index: 2;
  background: var(--white);
}
.cards__title {
  margin: 20px 24px 0px 24px;
  color: var(--main-text-color);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.cards__description {
  margin: 0px 24px 0px 24px;
  color: var(--second-text-color);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 1200px;
  height: 100%;
  margin: auto;
}
.team__section {
  background: var(--background-color-light);
}
.team__person {
  background: var(--white);
  width: 270px;
  height: 428px;
  box-shadow: var(--box-shadow-card);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  padding: 30px 0px 10px;
  font-weight: 500;
  color: var(--main-text-color);
}
.team__description {
  color: var(--second-text-color);
}
.team__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}
.team__icon-social {
  border: none;
  border-radius: 50%;
  fill: var(--icon-color-light);
}
.team__icon-social:hover, .team__icon-social:focus {
  cursor: pointer;
  background-color: var(--main-color);
  fill: var(--white);
  transition: 250ms;
  transition-property: fill background-color;
  transition-timing-function: var(--transition-timing);
}

.work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 1200px;
  height: 100%;
  margin: auto;
}
.work__card {
  position: relative;
  width: 100%;
}
.work__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.work__title {
  position: absolute;
  padding: 27px 0px;
  width: 100%;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}/*# sourceMappingURL=main.css.map */