/*Global */
/*Global */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
img {
  display: block;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 696px;
  max-height: 120px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0px 0px 50px 0px;
}
h3 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  font-style: none;
  font-weight: 400;
}
/*Global end */
/*Global end */
/**/
/*common */
/*common */
.section {
  max-width: 1600px;
  padding: 94px 0px 94px 0px;
  margin: auto;
}
.container {
  width: 1200px;
  height: 100%;
  margin: auto;
}
.input {
  outline: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  transition: 250ms;
}
.submit-button {
  vertical-align: middle;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-property: color, background-color;
}
.submit-button:hover,
.submit-button:focus {
  background-color: #ffffff;
  color: #000000;
  transition-property: color, background-color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button:hover svg,
.submit-button:focus svg {
  fill: black;
  transition: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
}
.contacts {
  color: #757575;
  font-style: normal;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition: 250ms;
}
.logo {
  text-decoration: none;
  color: #2196f3;
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
  color: #212121;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition: 250ms;
}
.link:hover,
.link:focus {
  color: #2196f3;
  transition-property: color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link--current {
  color: #2196f3;
  position: relative;
}
.link--current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  top: 45px;
  background: #2196f3;
  border-radius: 2px;
  pointer-events: none;
}
.icon-social {
  transition-property: fill;
  transition: 250ms;
}
/*common end */
/*common end */
/**/
/*header */
/*header */
.header {
  background: #ffffff;
  max-width: 1600px;
  margin: auto;
  border: 1px solid #ececec;
  border-width: 0px 0px 1px 0px;
}
.header__flex {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 93px;
}

.header__navigation {
  list-style: none;
  display: flex;
  gap: 46px;
}

.header__contacts {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-right: 0px;
  margin-left: auto;
}
.header__contacts-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__contacts-icons {
  margin-left: 0px;
  margin-right: 10px;
  fill: #757575;
}
.header__contacts-flex:hover .header__contacts-icons,
.header__contacts-flex:focus .header__contacts-icons {
  fill: #2196f3;
  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-flex:hover .contacts,
.header__contacts-flex:focus .contacts {
  color: #2196f3;
  transition-property: color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

/*header end */
/*header end */
/**/
/*banner section */
/*banner section */

.banner {
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.banner__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 94px 0px 0px 0px;
}
/*banner section end */
/*banner section end*/
/**/
/*feature section */
/*feature section */
.features {
  display: flex;
  list-style: none;
  max-width: 1170px;
  gap: 30px;
}
.features__title {
  font-size: 14px;
  line-height: 16px;
  padding: 0px 0px 10px 0px;
}

.features__text {
  max-width: 270px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.features__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 30px 0px;
  border: none;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 4px;
}
/*feature section end*/
/*feature section end*/
/**/
/*work section*/
/*work section*/
.work {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: auto;
}
.work__card {
  position: relative;
  width: 100%;
}
.work__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work__title {
  position: absolute;
  padding: 27px 0px 27px 0px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

/*work section end*/
/*work section end*/
/**/
/*team section*/
/*team section*/
.team__section {
  background: #f5f4fa;
}
.team {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: auto;
}

.team__person {
  background: #ffffff;
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  padding: 30px 0px 10px 0px;
}

.team__description {
  color: #757575;
}
.team__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0px 0px 0px;
}
.team__icon-social {
  border: none;
  border-radius: 50%;
  fill: #afb1b8;
}
.team__icon-social:hover,
.team__icon-social:focus {
  cursor: pointer;
  background-color: #2196f3;
  fill: #ffffff;
  transition-property: fill, background-color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*team section end*/
/*team section end*/
/**/
/*clients section*/
/*clients section*/

.clients {
  padding: 94px 0px 0px 0px;
}
.clients__card {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: auto;
  padding: 0px 0px 94px 0px;
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill;
  transition: 250ms;
}
.clients__item:hover,
.clients__item:focus {
  cursor: pointer;
  fill: #2196f3;
  border: 1px solid #2196f3;
  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*clients section*/
/*clients section*/
/**/
/* portolio*/
/* portolio*/
.portfolio {
  max-width: 1600px;
  padding: 94px 0px 94px 0px;
  margin: auto;
}
.portfolio__filter {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 8px;
  padding-bottom: 50px;
}
.portfolio__button {
  padding: 0px 22px;
  height: 38px;
  background-color: #f5f4fa;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  transition-property: background-color;
}
.portfolio__filter-button:hover,
.portfolio__filter-button:focus {
  background-color: #2196f3;
  transition-property: background-color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.cards {
  display: flex;
  height: 100%;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 30px;
  gap: 30px;
}
.cards__item {
  position: relative;
  flex-basis: calc(100% / 3);
  border: 1px solid #eeeeee;
  border-width: 0px 1px 1px 1px;
  max-width: fit-content;
}
.cards__image {
  position: relative;
  width: 370px;
  height: 400px;
  overflow: hidden;
}
.cards__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  visibility: hidden;
  z-index: 0;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition-property: transform;
  transition: 200ms ease;
}
.cards__overlay-text {
  margin: 0px 0px 0px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.cards__item:hover .cards__image .cards__overlay {
  transform: translatey(0);
  transition-property: transform;
  transition: 200ms ease;
  cursor: pointer;
  visibility: visible;
}
.cards__figcaption {
  position: absolute;
  background: #ffffff;
  z-index: 2;
  height: 110px;
  width: 370px;
  bottom: 0;
}

.cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  margin: 20px 24px 0px 24px;
}
.cards__description {
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px 24px 0px 24px;
}
/* portolio ends*/
/* portolio ends*/
/**/
/*footer */
/*footer */
.address__place {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 9px 0px 9px 0px;
}
.address {
  padding: 20px 0px 0px 0px;
  line-height: 24px;
}

.footer {
  padding: 60px 0px 60px 0px;
  background: #2f303a;
  max-width: 1600px;
  margin: auto;
  height: 225px;
}
.footer__container {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px 0px 0px 0px;
}
.footer__socials-title {
  color: #ffffff;
  font-size: 14px;
}
.footer__mail {
  text-decoration-line: underline;
}
.footer__social-icon {
  fill: #ffffff1a;
  transition-property: fill;
  transition: 250ms;
}

.footer__icon-social {
  fill: #ffffff1a;
}

.footer__icon-social:hover,
.footer__icon-social:focus {
  fill: #2196f3;
  cursor: pointer;
  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer sub */
.footer__subscribe-label {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe {
  gap: 5px;
}
.footer__subscribe-form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.footer__input {
  margin-right: 10px;
  width: 360px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  border-radius: 4px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__button-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0px;
  margin: 0px;
}
/*footer end*/
/*footer end*/
/**/
/*modal */
/*modal */

.modal__input-icon {
  position: absolute;
  fill: #212121;
  top: 50%;
  left: 15px;
}
.modal__reglink {
  margin: 0;
  padding: 0;
  color: #2196f3;
}
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  visibility: 1;
  transition: opacity 300ms ease-in-out 0s;
}

.modal__window {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity;
  transition: 1s ease-in-out;
}
.modal__button-close {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  right: 8px;
  top: 8px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__input-label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 0px 0px 10px 0px;
  gap: 4px;
}

.modal__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0px 0px 0px 42px;
}
.modal__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-label:focus-within svg {
  fill: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment-area {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  font-family: "Roboto";
  resize: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment-area:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px 0px 12px 0px;
}
.modal__false-checkmark {
  position: absolute;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.modal__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 0px 20px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__true-checkmark {
  display: inline-block;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 2px;
  height: 15px;
  width: 16px;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__false-checkmark:checked + .modal__true-checkmark {
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  background-color: #2196f3;
  border-color: transparent;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*modal end */
/*modal end */
