:root {
  --main-font: Roboto, sans-serif;
  --second-font: Raleway, sans-serif;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --main-color: #2196f3;
  --cards-color: #eeeeee;
  --white: #ffffff;
  --black: #000000;
  --icon-color-light: #afb1b8;
  --icon-color-dark: #ffffff1a;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-submit: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white);
  max-width: 365px;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 60px;
    max-width: 696px;
  }
}

h2 {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  h2 {
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-bottom: 50px;
  }
}

h3 {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

h4 {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
}

.section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
}

.container {
  margin: auto;
  width: 468px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.contacts {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--second-text-color);
  transition: 250ms, color, var(--transition-timing);
}
@media screen and (min-width: 1200px) {
  .contacts {
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}

.icon-social {
  transition: 250ms, fill, var(--transition-timing);
}

.input {
  outline: none;
  transition: 250ms, all, var(--transition-timing);
}

.logo {
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--second-font);
}
.logo--black {
  color: var(--black);
}
.logo--white {
  color: var(--white);
}
@media screen and (max-width: 767px) {
  .logo {
    padding-left: 13px;
  }
}

.button {
  cursor: pointer;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: 250ms;
}

.submit-button {
  vertical-align: middle;
  width: 200px;
  height: 50px;
  background: var(--main-color);
  box-shadow: var(--box-shadow-submit);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white);
  transition: 250ms, color background-color, var(--transition-timing);
}
.submit-button:hover, .submit-button:focus {
  background-color: var(--white);
  color: var(--black);
  transition: 250ms, color background-color, var(--transition-timing);
}
.submit-button:hover svg, .submit-button:focus svg {
  fill: var(--black);
  transition: 250ms, fill, var(--transition-timing);
}

.menu-hamburger {
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  .menu-hamburger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--white);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    visibility: hidden;
  }
  .menu-hamburger .menu-hamburger.is-open {
    transform: translateX(0);
  }
}

.mobile-menu {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding-right: 23px;
}

.hamburger {
  fill: var(--black);
}
.hamburger:hover {
  cursor: pointer;
  fill: var(--main-color);
}
.hamburger__button {
  background: none;
  border: none;
}

.header {
  margin: auto;
  background: var(--white);
  border: 1px solid #ececec;
  border-width: 0px 0px 1px 0px;
}
.header__contacts {
  display: none;
}
.header__flex {
  display: none;
}
.header__navigation {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .mobile-menu {
    display: none;
  }
  .header .header {
    max-width: 768px;
  }
  .header .header__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 15px 0px 15px;
  }
  .header .header__navigation {
    display: flex;
    list-style: none;
    gap: 60px;
  }
  .header .header__contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }
  .header .header__contacts-flex {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
  }
  .header .header__contacts-flex:focus .header__contacts-icons, .header .header__contacts-flex:hover .header__contacts-icons {
    fill: var(--main-color);
    transition: 250ms, fill, var(--transition-timing);
  }
  .header .header__contacts-flex:focus .contacts, .header .header__contacts-flex:hover .contacts {
    color: var(--main-color);
    transition: 250ms, fill, var(--transition-timing);
  }
  .header .header__contacts-icons {
    fill: var(--second-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .header .mobile-menu {
    display: none;
  }
  .header .header {
    max-width: 1600px;
  }
  .header .header__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 93px;
    padding: 0px 15px 0px 15px;
  }
  .header .header__navigation {
    display: flex;
    list-style: none;
    gap: 46px;
  }
  .header .header__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 50px;
    margin-right: 0px;
    margin-left: auto;
  }
  .header .header__contacts-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header__contacts-flex:focus .header__contacts-icons, .header .header__contacts-flex:hover .header__contacts-icons {
    fill: var(--main-color);
    transition: 250ms, fill, var(--transition-timing);
  }
  .header .header__contacts-flex:focus .contacts, .header .header__contacts-flex:hover .contacts {
    color: var(--main-color);
    transition: 250ms, fill, var(--transition-timing);
  }
  .header .header__contacts-icons {
    margin-left: 0px;
    margin-right: 10px;
    fill: var(--second-text-color);
  }
}

.link {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--main-font);
  transition: 250ms, color, var(--transition-timing);
}
.link:hover, .link:focus {
  color: var(--main-color);
  transition: 250ms, color, var(--transition-timing);
}
.link--current {
  color: var(--main-color);
  position: relative;
}
.link--current::after {
  position: absolute;
  display: block;
  pointer-events: none;
  content: "";
  width: 100%;
  height: 4px;
  top: 45px;
  background: var(--main-color);
  border-radius: 2px;
}

.subscribe {
  gap: 5px;
}

.footer {
  height: 603px;
  max-width: 480px;
  background: var(--background-color-dark);
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__address {
  text-align: center;
  padding-top: 20px;
  line-height: 24px;
}
.footer__address--place {
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--white);
}
.footer__subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.footer__subscribe-label {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
.footer__input {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  padding-right: 15px;
  width: 450px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.footer__input:focus {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  transition: 250ms, all, var(--transition-timing);
}
.footer__button-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  padding: 0px;
  margin: 0px;
}
.footer__socials-title {
  text-align: inherit;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
.footer__icon-social {
  fill: var(--icon-color-dark);
  transition: 250ms, fill, var(--transition-timing);
}
.footer__icon-social:hover, .footer__icon-social:focus {
  cursor: pointer;
  fill: var(--main-color);
  transition: 250ms, fill, var(--transition-timing);
}
.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 463px;
    max-width: 768px;
  }
  .footer__container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 60px;
  }
  .footer__item {
    flex-basis: 50%;
  }
  .footer__input {
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1600px;
    height: 225px;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  .footer__item {
    align-items: flex-start;
  }
  .footer__address {
    text-align: left;
  }
  .footer__subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .footer__input {
    width: 360px;
  }
}

/*@media screen and (max-width: 767px)*/
/*mobile-first*/
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 480px;
  height: 400px;
}
.banner__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    max-width: 1600px;
    height: 600px;
  }
  .banner__flex {
    padding-top: 94px;
  }
}
.clients {
  padding-top: 60px;
}
.clients__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 60px;
}
.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  fill: var(--icon-color-light);
  border: 1px solid var(--icon-color-light);
  border-radius: 4px;
  transition: 250ms, fill, var(--transition-timing);
}
.clients__item:hover, .clients__item:focus {
  cursor: pointer;
  fill: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 250ms, fill, var(--transition-timing);
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
  }
  .clients__card {
    margin: auto;
    padding-bottom: 94px;
  }
  .clients__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
  }
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  max-width: 450px;
  gap: 30px;
}
.features__title {
  text-align: center;
  padding-bottom: 10px;
}
.features__text {
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--second-text-color);
}
.features__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  height: 120px;
  border: none;
  border-radius: 4px;
  background-color: var(--background-color-light);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 768px;
    gap: 0px;
    row-gap: 30px;
  }
  .features__tablet {
    flex-basis: 354px;
    padding: 0px 15px 0px 15px;
  }
  .features__item {
    width: 354px;
  }
  .features__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    flex-direction: row;
    max-width: 1170px;
  }
  .features__text {
    max-width: 270px;
  }
  .features__item {
    margin-bottom: 30px;
    width: 270px;
  }
  .features__title {
    text-align: left;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  visibility: 1;
  transition: 500ms, all, ease-in-out;
}
.modal__window {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: var(--white);
  box-shadow: var(--box-shadow-card);
}
.modal__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__button-close {
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
  right: 8px;
  top: 8px;
  background: none;
  border: none;
}
.modal__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal__input-icon {
  position: absolute;
  fill: var(--main-text-color);
  top: 50%;
  left: 15px;
}
.modal__input {
  width: 448px;
  height: 40px;
  padding: 0px 0px 0px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__input:focus {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  transition: 250ms, all, var(--transition-timing);
}
.modal__input-label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 10px;
  font-family: var(--main-font);
  color: var(--second-text-color);
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-decoration: none;
}
.modal__input-label:focus-within svg {
  fill: var(--main-color);
  transition: 250ms, all, var(--transition-timing);
}
.modal__comment-area {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-family: var(--main-font);
  color: rgba(117, 117, 117, 0.5);
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-decoration: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms, all, var(--transition-timing);
}
.modal__comment-area:focus {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  transition: 250ms, all, var(--transition-timing);
}
.modal__title {
  margin: 0px 0px 12px 0px;
  font-family: var(--main-font);
  color: var(--main-text-color);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.modal__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--second-text-color);
}

.false-checkmark {
  position: absolute;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.false-checkmark:checked + .true-checkmark {
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  background-color: var(--main-color);
  border-color: transparent;
  transition: 250ms, all, var(--transition-timing);
}

.true-checkmark {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  height: 15px;
  width: 16px;
  border: 2px solid var(--black);
  border-radius: 2px;
  transition: 250ms, all, var(--transition-timing);
}

.reglink {
  margin: 0px;
  padding: 0px;
  color: var(--main-color);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 250ms, all, var(--transition-timing);
}

.portfolio {
  max-width: 1600px;
  padding: 94px 0px 94px 0px;
  margin: auto;
}
.portfolio__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 8px;
  padding-bottom: 50px;
}
.portfolio__button {
  padding: 0px 22px;
  height: 38px;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--background-color-light);
  transition: 250ms, color background-color, var(--transition-timing);
}
.portfolio__button:hover, .portfolio__button:focus {
  box-shadow: var(--box-shadow-filter);
  color: var(--white);
  background-color: var(--main-color);
  transition: 250ms, color background-color, var(--transition-timing);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  height: 100%;
  column-gap: 30px;
  gap: 30px;
}
.cards__item {
  position: relative;
  max-width: fit-content;
  flex-basis: 33.3333333333%;
  border: 1px solid var(--cards-color);
  border-width: 0px 1px 1px 1px;
}
.cards__item:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow-portfolio);
  transition: 250ms, box-shadow, var(--transition-timing);
}
.cards__item:hover .cards__image .cards__overlay {
  cursor: pointer;
  visibility: visible;
  transform: translatey(0);
  transition: 200ms, transform, ease;
}
.cards__image {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 400px;
}
.cards__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  visibility: hidden;
  z-index: 0;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition-property: transform;
  transition: 200ms ease;
}
.cards__overlay-text {
  margin: 0px 24px;
  color: var(--white);
  font-family: var(--main-font);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.cards__figcaption {
  position: absolute;
  height: 110px;
  width: 370px;
  bottom: 0;
  z-index: 2;
  background: var(--white);
}
.cards__title {
  margin: 20px 24px 0px 24px;
  color: var(--main-text-color);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.cards__description {
  margin: 0px 24px 0px 24px;
  color: var(--second-text-color);
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  width: 480px;
  margin: auto;
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  gap: 30px;
}
.team__section {
  background: var(--background-color-light);
  max-width: 480px;
}
.team__person {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--white);
  width: 450px;
  height: 622px;
  box-shadow: var(--box-shadow-card);
  border-radius: 0px 0px 4px 4px;
}
.team__person img {
  width: 450px;
  height: 460px;
}
.team__name {
  padding: 30px 0px 10px;
  font-weight: 500;
  color: var(--main-text-color);
}
.team__description {
  color: var(--second-text-color);
}
.team__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
}
.team__icon-social {
  border: none;
  border-radius: 50%;
  fill: var(--icon-color-light);
}
.team__icon-social:hover, .team__icon-social:focus {
  cursor: pointer;
  background-color: var(--main-color);
  fill: var(--white);
  transition: 250ms, fill background-color, var(--transition-timing);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    width: 768px;
  }
  .team__section {
    max-width: 768px;
  }
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px 15px 0px 15px;
  }
  .team__person {
    width: 354px;
    height: 536px;
  }
  .team__person img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    width: 1200px;
    height: 100%;
  }
  .team__section {
    max-width: 1200px;
  }
  .team__person {
    width: 270px;
    height: 428px;
  }
  .team__person img {
    width: 270px;
    height: 260px;
  }
  .team__socials {
    padding-top: 16px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .team__list {
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .work__section {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__section {
    display: none;
  }
}
.work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 1200px;
  height: 100%;
  margin: auto;
}
.work__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .work__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
  }
}
.work__card {
  position: relative;
  width: 100%;
}
.work__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.work__title {
  position: absolute;
  padding: 27px 0px;
  width: 100%;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}/*# sourceMappingURL=main.css.map */