*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1 {
  @include font(
    $fs: 26px,
    $fw: 900,
    $lh: 42px,
    $ls: 0.06em,
    $tt: uppercase,
    $tal: center
  );
  color: var(--white);
  max-width: 365px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 60px;
    max-width: 696px;
  }
}

h2 {
  @include font($fs: 28px, $fw: 700, $lh: 33px, $ls: 0.03em, $tal: center);
  color: var(--black);
  padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include font($fs: 36px, $fw: 700, $lh: 42px, $ls: 0.03em, $tal: center);
    padding-bottom: 50px;
  }
}
h3 {
  @include font(
    $fss: normal,
    $fw: 400,
    $fs: 16px,
    $lh: 19px,
    $ls: 0.03em,
    $tal: center
  );
}
h4 {
  @include font($fs: 14px, $fw: 700, $lh: 16px);
  color: var(--black);
}
.section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
}
.contacts {
  @include font(
    $fss: normal,
    $fs: 12px,
    $lh: 14px,
    $fw: 500,
    $ls: 0.02em,
    $td: none
  );
  color: var(--second-text-color);
  transition: 250ms, color, var(--transition-timing);

  @media screen and (min-width: 1200px) {
    @include font($fss: normal, $fs: 14px, $lh: 16px, $ls: 0.02em, $td: none);
  }
}
.icon-social {
  transition: 250ms, fill, var(--transition-timing);
}
