.banner {
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  &__flex {
    @include flex-columnflex;
    gap: 30px;
    padding-top: 94px;
  }
}
