.banner {
  @include flex;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  &__flex {
    @include flex-columnflex;
    gap: 30px;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .banner {
    background-image: url("../images/main-background@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    max-width: 1600px;
    height: 600px;
  }
}
