.header {
  margin: auto;
  background: var(--white);
  border: 1px solid #ececec;
  border-width: 0px 0px 1px 0px;
  &__contacts {
    display: none;
  }
}
.hamburger {
  fill: var(--black);
  &:hover {
    cursor: pointer;
    fill: var(--main-color);
  }
  &__button {
    background: none;
    border: none;
  }
}
.link {
  @include font(
    $fss: normal,
    $tal: center,
    $fw: 500,
    $fs: 14px,
    $lh: 16px,
    $ls: 0.02em,
    $td: none
  );
  color: var(--main-text-color);
  font-family: var(--main-font);
  transition: 250ms, color, var(--transition-timing);
  &:hover,
  &:focus {
    color: var(--main-color);
    transition: 250ms, color, var(--transition-timing);
  }
  &--current {
    color: var(--main-color);
    position: relative;
    &::after {
      position: absolute;
      display: block;
      pointer-events: none;
      content: "";
      width: 100%;
      height: 4px;
      top: 45px;
      background: var(--main-color);
      border-radius: 2px;
    }
  }
}
