.menu-hamburger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 0 48px 40px;
  background-color: var(--white);
  z-index: 10;
  transform: translateX(100%);
  transition: all 250ms ease-in-out;
  &--close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.menu-hamburger.is-open {
  transform: translateX(0);
}
.mobile-menu {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding-right: 23px;
}
.menu-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
  list-style: none;
}
.mobile-socials {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 48px;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  &__item--link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--main-font);
    text-decoration: none;
  }
}
.mobile-contacts {
  position: absolute;
  bottom: 134px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  &__phone {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
  }
  &__mail {
    font-family: var(--main-font);
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
  }
}
.mobile-item {
  list-style: none;
  &__link {
    @include font($fs: 40px, $fw: 500, $lh: 47px, $ls: 0.02em);
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--black);
  }
}
.hamburger {
  fill: var(--black);
  &:hover {
    cursor: pointer;
    fill: var(--main-color);
  }
  &__button {
    background: none;
    border: none;
  }
}
.header {
  margin: auto;
  background: var(--white);
  border: 1px solid #ececec;
  border-width: 0px 0px 1px 0px;
  &__contacts {
    display: none;
  }
  &__flex {
    display: none;
  }
  &__navigation {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .mobile-menu {
      display: none;
    }
    .header {
      max-width: 768px;
    }
    .header__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      padding: 0px 15px 0px 15px;
    }
    .header__navigation {
      @include flex-nc-list;
      gap: 60px;
    }
    .header__contacts {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;
      margin: 0;
      &-flex {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 8px;
        &:focus .header__contacts-icons,
        &:hover .header__contacts-icons {
          fill: var(--main-color);
          transition: 250ms, fill, var(--transition-timing);
        }
        &:focus .contacts,
        &:hover .contacts {
          color: var(--main-color);
          transition: 250ms, fill, var(--transition-timing);
        }
      }
      &-icons {
        fill: var(--second-text-color);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .mobile-menu {
      display: none;
    }
    .header {
      max-width: 1600px;
    }
    .header__flex {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      gap: 93px;
      padding: 0px 15px 0px 15px;
    }
    .header__navigation {
      @include flex-nc-list;
      gap: 46px;
    }
    .header__contacts {
      @include flex-listflex;
      gap: 50px;
      margin-right: 0px;
      margin-left: auto;
      &-flex {
        @include flex;
        &:focus .header__contacts-icons,
        &:hover .header__contacts-icons {
          fill: var(--main-color);
          transition: 250ms, fill, var(--transition-timing);
        }
        &:focus .contacts,
        &:hover .contacts {
          color: var(--main-color);
          transition: 250ms, fill, var(--transition-timing);
        }
      }
      &-icons {
        margin-left: 0px;
        margin-right: 10px;
        fill: var(--second-text-color);
      }
    }
  }
}
.link {
  @include font(
    $fss: normal,
    $tal: center,
    $fw: 500,
    $fs: 14px,
    $lh: 16px,
    $ls: 0.02em,
    $td: none
  );
  color: var(--main-text-color);
  font-family: var(--main-font);
  transition: 250ms, color, var(--transition-timing);
  &:hover,
  &:focus {
    color: var(--main-color);
    transition: 250ms, color, var(--transition-timing);
  }
  &--current {
    color: var(--main-color);
    position: relative;
    &::after {
      position: absolute;
      display: block;
      pointer-events: none;
      content: "";
      width: 100%;
      height: 4px;
      top: 45px;
      background: var(--main-color);
      border-radius: 2px;
    }
  }
}
