@media screen and (max-width: 767px) {
  .header__flex {
    display: none;
  }
  .header__navigation {
    display: none;
  }
  .mobile-menu {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding-right: 23px;
  }
  .logo {
    padding-left: 13px;
  }
  .footer {
    height: 603px;
    max-width: 480px;
    &__container {
      flex-direction: column;
    }
    &__item {
      flex-direction: column;
      align-items: center;
    }
    &__address {
      text-align: center;
    }
    &__subscribe-form {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &__input {
      width: 450px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu {
    display: none;
  }
  .header {
    height: 80px;
    max-width: 768px;
  }

  .header__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  .header__contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    &-flex {
      display: flex;
      align-items: center;
      justify-content: left;
      &:focus .header__contacts-icons,
      &:hover .header__contacts-icons {
        fill: var(--main-color);
        transition: 250ms, fill, var(--transition-timing);
      }
      &:focus .contacts,
      &:hover .contacts {
        color: var(--main-color);
        transition: 250ms, fill, var(--transition-timing);
      }
    }
    &-icons {
      margin-right: 8px;
      fill: var(--second-text-color);
    }
  }
  .header__navigation {
    @include flex-nc-list;
    gap: 46px;
  }
  .footer {
    height: 463px;
    max-width: 768px;
    &__container {
      flex-direction: row;
      flex-basis: calc(100% / 2);
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
    &__item {
      flex-direction: column;
      align-items: center;
    }
    &__address {
      text-align: center;
    }
    &__subscribe-form {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &__input {
      width: 450px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
  .header {
    max-width: 1600px;
    height: 80px;
  }
  .header__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 93px;
  }
  .header__navigation {
    @include flex-nc-list;
    gap: 46px;
  }
  .header__contacts {
    @include flex-listflex;
    gap: 50px;
    margin-right: 0px;
    margin-left: auto;
    &-flex {
      @include flex;
      &:focus .header__contacts-icons,
      &:hover .header__contacts-icons {
        fill: var(--main-color);
        transition: 250ms, fill, var(--transition-timing);
      }
      &:focus .contacts,
      &:hover .contacts {
        color: var(--main-color);
        transition: 250ms, fill, var(--transition-timing);
      }
    }
    &-icons {
      margin-left: 0px;
      margin-right: 10px;
      fill: var(--second-text-color);
    }
  }
}
